services:
  doris-fe:
    image: apache/doris:fe-2.1.11
    container_name: doris-fe
    hostname: doris-fe
    ports:
      - "8030:8030"
      - "9030:9030"
    environment:
      - FE_SERVERS=fe1:172.28.0.2:9010
      - FE_ID=1
    networks:
      - doris-net

  doris-be:
    image: apache/doris:be-2.1.11
    container_name: doris-be
    hostname: doris-be
    depends_on:
      - doris-fe
    ports:
      - "8040:8040"
    environment:
      - FE_SERVERS=fe1:172.28.0.2:9010
      - BE_ADDR=172.28.0.3:9050
    # Limiting memory is crucial in Codespaces
    deploy:
      resources:
        limits:
          memory: 4G
    networks:
      - doris-net

networks:
  doris-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16